body {
    text-align: center;
    display: block;
    background: no-repeat url(assets/img/wood.jpg);
    background-size: cover;
}

h1 {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: auto;
    font-size: 18px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
    background-color: rgb(189, 243, 225);
    border-radius: 40px;
    padding: 20px;
    width: 50%;
    display: inline-block;
}

.inputField {
    margin: 0 12px 23px;
    display: flex;
}

.inputField input {
    margin: 10px;
}

input, textarea {
    font-size: 14px;
    height: 50px;
    width: 85%;
    color: black;
    padding: 0 27px;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
}

textarea {
    padding : 22px;
}

.termsNconditions {
    display: flex;
}

button {
    background-color: rgb(37, 40, 218);
    color: beige;
    border: none;
    border-radius: 8px;
    padding: 12px 80px;
    margin-top: 30px;
    margin-bottom: 12px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(23, 180, 23);
}
